# 团油 [acs.nlktj.com]
^https:\/\/acs\.nlktj\.com\/services\/v3\/facadeAdvertisingInfo\/getAdvertisingInfoByCode url reject-dict

# 钉钉 [gw.alicdn.com]
^https:\/\/gw\.alicdn\.com\/imgextra\/i3\/[^\s]+\.jpg$ url reject-dict

hostname = acs.nlktj.com, gw.alicdn.com