# 只需运行一次即可关闭。

# Adguard mobile-api.adguard.org
^https?:\/\/mobile-api\.adguard\.org\/api\/.+\/ios_validate_receipt url script-response-body https://raw.githubusercontent.com/cnowse/qsc/qx/script/master/AdGuardProCrack.js

hostname=mobile-api.adguard.org