# 微店
^https:\/\/si\.geilicdn\.com\/zhuge-000e0000018c57a12c4a0a231115-unadjust_1080_2400\.gif\.webp url reject-img

# 钉钉
^https:\/\/gw\.alicdn\.com\/imgextra\/i2 url reject-dict
^https:\/\/gw\.alicdn\.com\/imgextra\/i3 url reject-dict
^https:\/\/gw\.alicdn\.com\/imgextra\/i4 url reject-dict

hostname = si.geilicdn.com, gw.alicdn.com