# 只需运行一次即可关闭。脚本影响AppStore登录功能。

# Pandora订阅管理 buy.itunes.apple.com
^https:\/\/buy\.itunes\.apple\.com\/verifyReceipt url script-response-body https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/Pandora.js

hostname=buy.itunes.apple.com